body{
  background-color: black;
  color: aliceblue;
}
h1{
  color: yellow;
  text-align: center;
  font-size: 50px;
}
.pets{
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  border-radius: 100px;
  max-width: 60%;
  margin: auto; 
}
img{
  width: 300px;
  border-radius: 30px;
  padding-bottom: 20px;
}

.title{
  padding-top: 40px;
  margin-bottom: 50px;
  font-size: 100px;
}